@import 'tailwindcss';
@source "./**/*.{ts,html}";
@source "../../../libs/ui-kit/src/**/*.{ts,html}";
@import '../../../libs/ui-kit/src/lib/design-tokens.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--color-cream);
  color: var(--color-espresso);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
